[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf2 = "*"
pdfplumber = "*"
redis = {extras = ["hiredis"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
